* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Flexo Medium', sans-serif;
}

hr {
    width: 75%; 
    height: 1px;
    border: none;
    background: #3f3f3f;
}

.hidden {
    visibility : hidden;
}

.main-feed {
    padding-top : 60px;
    display:flex;
    flex-direction:column;
    
    align-items:center;
    
}

.pokemon-name {
    text-align : center;
    font-size: 1.5rem;
    padding-top : 5px;
}

.random-pokemon .pokemon-name {
    font-size: 3rem;
}

.pokemon-name::first-letter {
    text-transform: capitalize;
}

.random-pokemon .pokemon-image img {
    display: block;
    margin: auto;
    max-height: 300px;
    width: auto;
}

/*     RANDOM        */
.random-pokemon {
    margin : 10px;
    padding : 10px;
    /*
    border : 2px solid;
    */
    display:flex;
    flex-direction:column;
    align-items:center;
}

#btn-refresh {
    font-size: 1rem;
    padding : 5px;
}

/*     TEAM        */
.pokemon-team {
    height : 100px;
    padding : 10px;
}

.pokemon-team__preview {
    display : flex;
    border : solid;
}

.pokemon-team__preview_cell {
    width : 50px;
    height : 50px;
    border : solid 1px black;
    position: relative;
    color : white;
}

.pokemon-team__preview_cell img{
    position: absolute;
    margin: auto;
    max-width:100%;
    height : auto;
    top: 0;
    left: 0;
    z-index: 10; 
}



/*     FEED        */
.pokemon-list .pokemon-image img {
    display: block;
    margin: auto;
    max-width:100%;
    height : auto;
}

.generate-feed {
    display : flex;
    align-items : center;
    padding : 20px;
    margin-left: auto;
    margin-right: auto;
}

.generate-feed select {
    font-size: 1rem;
    padding : 5px;
}

#btn-generate-feed {
    font-size: 1rem;
    padding : 5px;
    margin-left : 20px;
    margin-right : 20px;
}

.generate-feed svg{
    margin-right : 20px;
}

.pokemon-details--list {
    display: flex;
}

.pokemon-details--grid {
    width : 170px;
    height : 200px;
}

.pokemon-mainframe {
    margin : 10px;
    padding : 10px;
    border : 1px solid grey;
    border-radius: 25px;
    width : 150px;
    height : 180px;
}

.pokemon-infos {
    padding-top : 20px;
}

.pokemon-infos *{
    margin-bottom : 5px;
}

.pokemon-list--grid {
    display: flex;
    flex-wrap : wrap;
    justify-content : center;
}

.pokemon-list--list {
    display: flex;
    flex-direction : column;
    justify-content : center;
}

.pokemon-list .pokemon-details--list {

}