* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Flexo Medium', sans-serif;
}

hr {
    width: 75%;
    height: 1px;
    border: none;
    background: #3f3f3f;
}

.form-addpokemon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.form-addpokemon__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background: white;
    padding: 1.5em;
    border-radius: 1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.form-addpokemon__content form * {
    font-size: 16px;
    margin-top: 10px;
}

.btn-close {
    position: absolute;
    top: -20px;
    right: -18px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #ff5c5c;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.btn-close:hover {
    background-color: #e04b4b;
}

.btn-close--manual {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: #ff5c5c;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.btn-close--manual:hover {
    background-color: #e04b4b;
}

.btn-addTeam {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25px;
    height: 25px;
    border: none;
    /*
    border-radius: 50%;

    */
    font-size: 30px;
    font-weight: bold;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-addTeam:hover {
    background-color: #218838;
}

.main-feed {
    padding-top: 60px;
    display: flex;
    flex-direction: column;

    align-items: center;

}

.pokemon-name {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 5px;
}

.random-pokemon .pokemon-name {
    font-size: 3rem;
}

.pokemon-name::first-letter {
    text-transform: capitalize;
}

.random-pokemon .pokemon-image img {
    display: block;
    margin: auto;
    max-height: 300px;
    width: auto;
}

/*     WRAPPER      */
.wrap-3-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6rem;
    padding: 1rem;
    justify-content: space-around;
    justify-items: center;
}

/*     CARROUSEL 1    */
.carrousel-slide-wrapper {
    width: 300px;
    height: 475px;
    overflow: hidden;
    position: relative;
}

.carrousel-slide-track {
    display: flex;
    width: 100%;
    transition: transform 0.6s ease-in-out;
}

.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*     CARROUSEL 2    */
.carrousel {
    width: 300px;
    height: 475px;
    position: relative;
    overflow: hidden;
}

.slide_c {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    object-fit: cover;
}

.slide_c.active {
    opacity: 1;
    z-index: 1;
}

/*     RANDOM      */
.random-pokemon {
    margin: 10px;
    padding: 10px;
    /*
    border : 2px solid;
    */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-refresh {
    font-size: 1rem;
    padding: 5px;
}

/*     TEAM        */
.pokemon-team {
    height: 60px;
    padding: 10px;
}

.pokemon-team__preview {
    display: flex;
    border: solid;
}

.pokemon-team__preview_cell {
    width: 50px;
    height: 50px;
    border: solid 1px black;
    position: relative;
    color: white;
}

.pokemon-team__preview_cell img {
    position: absolute;
    margin: auto;
    max-width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 5;
}

/*     FEED        */
.pokemon-list .pokemon-image img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.generate-feed {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.generate-feed select {
    font-size: 1rem;
    padding: 5px;
}

#btn-generate-feed {
    font-size: 1rem;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.generate-feed svg {
    margin-right: 20px;
}

.pokemon-details {
    position: relative;
}

.pokemon-details--list {
    display: flex;
}

.pokemon-details--grid {
    width: 170px;
    height: 200px;
}

.pokemon-mainframe {
    margin: 10px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 25px;
    width: 150px;
    height: 180px;
}

.pokemon-infos {
    padding-top: 20px;
}

.pokemon-infos * {
    margin-bottom: 5px;
}

.pokemon-list--grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-list--list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

/*     MEMORY       */
/* Dropdown Button */
.btn-difficulty {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.btn-difficulty:hover,
.btn-difficulty:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/*        MEMORY       */
.memory_wrap {
    display : grid;
    grid-template-columns : 1fr 1fr 1fr 1fr 1fr 1fr;
    width : 600px;
    height : 500px;
    /*
    border: 1px solid black;
    */
}

.card {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.front img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.back img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.visible {
    visibility : visible;
}